@import "tailwindcss";

@theme {
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;
  --font-poppins: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #0F172A;
  --color-secondary: #334155;
  --color-cta: #0369A1;
  --color-background: #F8FAFC;
  --color-text: #020617;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
  }
}
